@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
.converter-div, #tavern-calculator {
  margin-top: 1em;
}
.converter-submit {
  margin-top: 1em;
  margin-bottom: 1em;
}
.results-holder {
  padding-top: 1em;
  margin-bottom: 1em;
  background-color: #d1ecf1;
  padding-left: 0;

  span {
    ul {
      text-align: center;
      list-style-position: inside;
    }
  }
}
.resource-div {
  padding-top: 2rem;
}
.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30'%3E%3Cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar .navbar-toggler {
  color: hsla(0,0%,100%,.5);
  border-color: hsla(0,0%,100%,.1);
}
.btn-primary {
  background-color: #0070f4;
}
.nav-link {
  color: #2ea9ff;
}
.router-link-exact-active {
  color: white
}
